.navbar {
  font-size: 18px;
  min-height: 41px !important;
  position: absolute;
  left: 0;
  right: 0;
}
.navbar-nav { margin: 0 -15px; }
.navbar-nav a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.github-link { text-align: center; }
.download-link-container {
  margin-top: 5px;
  text-align: right;
}
.bootstrap-select .btn-default {
  background-color: #fff;
  border: 1px solid #dce4ec;
  color: #2c3e50;
  height: 45px;
}
.bootstrap-select .btn-default .filter-option { color: #777; }
.bootstrap-select.open .dropdown-toggle.btn-default {
  background-color: #fff;
  color: #2c3e50;
}
.bootstrap-select.btn-group .dropdown-menu li a { color: #2c3e50; }
.bootstrap-select.btn-group .dropdown-menu li a:hover { color: #fff; }
